<div class="row">
  <div class="col-xs-8">
    <div id="map"></div>
  </div>
  <div class="col-xs-4" ng-show="map.showMarkerInfo">
    <!-- We can show multiple markers -->
    <div class="panel panel-default" ng-repeat="info in map.markerInfo">
      <div class="panel-heading">
        <h4><b>
          Weather in {{info.data.name}}, {{info.data.sys.country}}
        </b></h4>
      </div>
      <div class="panel-body">
        <div>
          <!-- Weather icon -->
          <img ng-src="{{map.getIcon(info.data.weather[0].icon)}}">
          <!-- Temperature -->
          {{info.data.main.temp}} °C
        </div>
        <!-- Brief description -->
        <p>{{info.data.weather[0].description}}</p>
        <!-- Collection date -->
        <p>get at {{info.data.dt}}</p>
      </div>
    </div>
  </div>
</div>
